.hourly-entry{
    padding:0;
    div{
        padding:0;
    }
    .hourly-icon{
        svg{
            width:2.5em;
            height:2em;
        }
    }
    .hourly-text{
        padding-top:.15em;
    }
}